<!doctype html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:hosei="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Lectcast</title>
</head>
<body class="bg-light">
<section class="jumbotron text-center my-0 mb-md-3">
    <div class="container">
        <h1 class="jumbotron-heading" th:text="${channel.title}">Channel Title</h1>
        <p class="lead text-muted" th:if="${channel.description}" th:text="${channel.description}">Something short and
            leading about the channel.</p>
        <p>
            <a href="#" th:href="@{/podcasts(feed=${feed.id})}" class="btn btn-primary my-2">RSS Feed</a>
        </p>
    </div>
</section>

<main class="pb-3 bg-light">
    <div class="container" th:if="${! #lists.isEmpty(channel.itemList)}">
        <h2>Episodes</h2>
        <article class="row justify-content-end mt-2" th:each="item : ${channel.itemList}">
            <div class="col-12 col-sm-4 col-lg-3">
                <time th:datetime="${item.createdAt}" th:text="${#dates.format(item.createdAt, 'yyyy/MM/dd HH:mm')}">
                    yyyy/MM/dd HH:mm
                </time>
            </div>
            <div class="col-12 col-sm-8 col-lg-9">
                <p class="mb-0" th:text="${item.title}">Item Title</p>
            </div>
            <div class="col-12 col-sm-8 col-lg-9" th:if="${item.description}">
                <p class="my-1" hosei:brtext="${item.description}">Item Description</p>
            </div>
            <div class="col-12 col-sm-8 col-lg-9" th:if="${isInstructor}">
                <a href="#" th:href="@{/channels/item/download(key=${item.s3Key})}">Download a File</a>
            </div>
        </article>
    </div>
</main>

<footer class="pt-3 my-md-3 pt-md-4 border-top">
    <div class="container">
        <div th:if="${isInstructor}">
            <h2>Management Tools</h2>
            <div class="row">
                <div class="col-12 col-sm-4 col-lg-3">
                    <h4 class="mb-0">Upload an Episode</h4>
                </div>
                <div class="col-12 col-sm-8 col-lg-9">
                    <form method="post" enctype="multipart/form-data" action="#" th:action="@{/channels/item}">
                        <div class="mb-3">
                            <label for="itemFormTitle">Title</label>
                            <input type="text" name="title" id="itemFormTitle" class="form-control"
                                   placeholder="Episode title" required>
                        </div>
                        <div class="mb-3">
                            <label for="itemFormDescription">Description</label>
                            <textarea name="description" id="itemFormDescription" class="form-control"
                                      placeholder="Episode description" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="itemFormAudioFile">MP3 File</label>
                                <input type="file" name="audioFile" id="itemFormAudioFile"
                                       class="form-control-file" required>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Upload</button>
                    </form>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-12 col-sm-4 col-lg-3">
                    <h4 class="mb-0">Channel Settings</h4>
                </div>
                <div class="col-12 col-sm-8 col-lg-9">
                    <form method="post" enctype="multipart/form-data" action="#" th:action="@{/channels}" th:object="${channel}">
                        <div class="mb-3">
                            <label for="channelFormTitle">Title</label>
                            <input type="text" name="title" id="channelFormTitle" class="form-control"
                                   placeholder="Channel title" th:field="*{title}" required>
                        </div>
                        <div class="mb-3">
                            <label for="channelFormDescription">Description</label>
                            <input type="text" name="description" id="channelFormDescription" class="form-control"
                                   placeholder="Channel description" th:field="*{description}">
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>