<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:hosei="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}"
      th:lang="${lang}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/web/web.main/static/css/lectcast.css" th:href="@{/css/lectcast.css}" rel="stylesheet" type="text/css">
    <title th:text="|${channel.title} - #{lectcast.app_name}|"></title>
</head>
<body class="text-dark">
<section class="my-3">
    <div class="container">
        <h1 class="jumbotron-heading" th:text="${channel.title}">Channel Title</h1>
        <p class="lead text-muted" th:if="${channel.description}" th:text="${channel.description}">Something short and
            leading about the channel.</p>
    </div>
</section>

<main class="py-3">
    <div class="container" th:if="${! #lists.isEmpty(channel.itemList)}">
        <article class="row justify-content-end my-3 py-2" th:each="item : ${channel.itemList}">
            <div class="col-12 col-md-6 col-xl-8">
                <h4 class="mb-2" th:text="${item.title}">
                    Item Title
                    <small class="text-muted">
                        (
                        <time th:datetime="${item.createdAt}"
                              th:text="${#dates.format(item.createdAt, 'yyyy/MM/dd HH:mm')}">
                            yyyy/MM/dd HH:mm
                        </time>
                        )
                    </small>
                </h4>
                <p class="my-1 pl-4" hosei:brtext="${item.description}">Item Description</p>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mt-2 mt-md-0 text-md-right">
                <audio src="#" th:src="@{/channels/item/download(key=${item.s3Key})}" controls>
                    <p th:text="#{lectcast.error.audio_tag_is_not_supported}"></p>
                </audio>
            </div>
        </article>
    </div>
    <div class="container" th:if="${#lists.isEmpty(channel.itemList)}">
        <div class="alert alert-danger" role="alert" th:text="#{lectcast.error.no_items_found}"></div>
    </div>
    <hr/>
    <div class="container accordion" id="guideAccordion">
        <h2 th:text="#{lectcast.help.label}">Help</h2>
        <div class="card">
            <div class="card-header" id="introductionHeader">
                <h3 class="mb-0">
                    <i class="fas fa-fw fa-info-circle"></i>
                    <button class="btn btn-link pl-0" type="button" data-toggle="collapse" data-target="#introduction"
                            aria-expanded="false" aria-controls="introduction">
                        <span th:text="#{lectcast.help.introduction.title}">Title</span>
                    </button>
                </h3>
            </div>
            <div id="introduction" class="collapse show" aria-labelledby="introductionHeader"
                 data-parent="#guideAccordion">
                <div class="card-body" th:text="#{lectcast.help.introduction.body}">
                    Body
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="iosHeader">
                <h3 class="mb-0">
                    <i class="fab fa-fw fa-apple"></i>
                    <button class="btn btn-link pl-0" type="button" data-toggle="collapse" data-target="#iosGuide"
                            aria-expanded="false" aria-controls="iosGuide">
                        <span th:text="#{lectcast.help.ios.title}">Title</span>
                    </button>
                </h3>
            </div>
            <div id="iosGuide" class="collapse" aria-labelledby="iosHeader" data-parent="#guideAccordion"
                 th:with="feeduri=@{~/podcasts/feed.xml(feed=${feed.id})}, host=${#httpServletRequest.getServerName()}">
                <div class="card-body" th:text="#{lectcast.help.ios.body}">
                    Body
                </div>
                <img th:src="@{/podcasts/qrcode.png(feed=${feed.id}, type='podcast')}"/>
                <div class="form-group mx-3">
                    <label class="sr-only" for="iosFeedUrl" th:text="#{button.podcast_feed}">Feed</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <input type="text" class="form-control" id="iosFeedUrl" th:value="|https://${host}${feeduri}|">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="androidHeader">
                <h3 class="mb-0">
                    <i class="fab fa-fw fa-android"></i>
                    <button class="btn btn-link pl-0" type="button" data-toggle="collapse"
                            data-target="#androidGuide" aria-expanded="false" aria-controls="androidGuide">
                        <span th:text="#{lectcast.help.android.title}">Title</span>
                    </button>
                </h3>
            </div>
            <div id="androidGuide" class="collapse" aria-labelledby="androidHeader" data-parent="#guideAccordion"
                 th:with="feeduri=@{~/podcasts/feed.xml(feed=${feed.id})}, host=${#httpServletRequest.getServerName()}">
                <div class="card-body" th:text="#{lectcast.help.android.body}">
                    Body
                </div>
                <div class="form-group mx-3">
                    <label class="sr-only" for="androidFeedUrl" th:text="#{button.podcast_feed}">Feed</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <input type="text" class="form-control" id="androidFeedUrl"
                               th:value="|https://${host}${feeduri}|">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="pt-3 my-md-3 pt-md-4 border-top">
    <div class="container">
        <div th:if="${isInstructor}">
            <h2 class="mb-3" th:text="#{lectcast.management}">Management Tools</h2>
            <div class="row">
                <div class="col-12 col-sm-4 col-lg-3">
                    <h5 class="mb-0" th:text="#{lectcast.item.upload}">Upload an Item</h5>
                </div>
                <div class="col-12 col-sm-8 col-lg-9">
                    <form method="post" enctype="multipart/form-data" action="#" th:action="@{/channels/item}">
                        <div class="mb-3">
                            <label for="itemFormTitle" th:text="#{lectcast.item.title.label}">Title</label>
                            <input type="text" name="title" id="itemFormTitle" class="form-control"
                                   th:placeholder="#{lectcast.item.title.placeholder}" required>
                        </div>
                        <div class="mb-3">
                            <label for="itemFormDescription"
                                   th:text="#{lectcast.item.description.label}">Description</label>
                            <textarea name="description" id="itemFormDescription" class="form-control"
                                      th:placeholder="#{lectcast.item.description.placeholder}" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="itemFormAudioFile" th:text="#{lectcast.item.audio_file.label}">Audio
                                    File</label>
                                <input type="file" name="audioFile" id="itemFormAudioFile"
                                       class="form-control-file" required>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit" th:text="#{button.submit}">Upload
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/933e54be06.js" crossorigin="anonymous"></script>
</body>
</html>